@model viabana_nuevo.Models.Liquidacion
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VerLiquidacion</title>
</head>
<body>
    <div class="general-pages">
        <h2>Empleados para liquidar</h2>
        <div class="col-lg-8" style="height: 250px; overflow-y:auto">
            <table class="table table-hover" id="tablaEmpleadosALiquidar">
                <thead>
                    <tr>
                        <th>Apellido</th>
                        <th>Nombre</th>
                        <th>Remuneraciones</th>
                        <th>Descuento</th>
                        <th>Neto</th>
                        <th>Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var detalle in Model.DetalleLiquidaciones)
                    {
                        <tr>
                            <td>@detalle.Empleado.Apellido</td>
                            <td>@detalle.Empleado.Nombre</td>
                            <td>@detalle.TotalLiquidado</td>
                            <td>@detalle.TotalLiquidado</td>
                            <td>@detalle.TotalLiquidado</td>
                            <td><span class="glyphicon glyphicon-eye-open btnVerDetalle" style="color: cornflowerblue" data-url="@Url.Action("MostrarDetalleLiquidacion", "Liquidacion", new { id = detalle.Id})"></span></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-lg-4">

        </div>
        <div class="col-lg-8" id="detalleLiquidacion">

        </div>
    </div>
</body>
</html>
